<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="email" placeholder="username" formControlName="email">
    <input type="password" placeholder="password" formControlName="password">
    <button [disabled]="form.invalid || (loading$ | async)">
        @if (loading$ | async) {
            Loading...
        } @else {
            Submit
        }
    </button>
</form>

@if (error$ | async; as error) {
    <div class="error-message" style="color: red; margin-top: 10px;">
        {{ error }}
    </div>
}

@if (user$ | async; as user) {
    <div class="success-message">
        <p>Welcome, {{ user.user.username }}!</p>
        <p>ID: {{ user.user.id }}</p>
        <p>Email: {{ user.user.email }}</p>
    </div>
}