<router-outlet>
<!-- @for (prof of profiles(); track $index) {
  <div> -->
    <!-- <app-profile-card-component [name]="prof.name" [role]="prof.role" [experience]="prof.experience"/> -->

    <!-- using object directly, must use for loop -->
    <!-- <app-profile-card-component [prof]="prof"/>
  </div>
} -->
<!-- 
@for (product of products(); track $index) {
  <div>
    <app-product-card [title]="product.title" [category]="product.category" [price]="product.price" [inStock]="product.inStock"  [product]="product"/>
  </div>
} -->

<!-- <app-student [counter]="counter()" (decrease)="decrease()" (increase)="increase()" (reset)="reset()" ></app-student> -->

<!-- When passing parameters from a function in ts file, you can pass it via $event -->
<!-- <app-student [cart]="products()" (addToCart)="addToCart($event)" /> -->

<!-- <app-student [todos]="todoItems()"></app-student> -->

<!-- <app-student [cart]="cart()" (addToCart)="addToCart($event)"/> -->

<!-- <p>{{counter()}}</p>-->

<!-- @for (item of message(); track $index) {
  <p>{{item}}</p>
} -->

<!-- @if (message()) {
  <p>{{message()}}</p>
} -->

<!-- <app-subjects-lesson></app-subjects-lesson> -->

<!-- <app-user-card></app-user-card>
<p>{{message()}}</p> -->

<!-- <app-behavior-demo/> -->

<!-- <input #searchBox type="text" placeholder="Type To Search...">

@for (item of users; track $index) {
  <ul>
    <li>{{item.name}}</li>
    <li>{{item.email}}</li>
  </ul>
} -->

<!-- <h1>Load From multiple Streams But dont Care who comes first</h1>

<button (click)="loadFromMultipleSources()">Load Multiple</button>

@for (item of messages(); track $index) {
  <p>{{item}}</p>
}

@for (item of usersAndPosts(); track $index) {
  <p>{{item}}</p>
} -->

<!-- <h1>Load From multiple Streams and Care who comes first</h1>

@for (item of users(); track $index) {
  <p>{{item}}</p>
}

@for (item of posts(); track $index) {
  <p>{{item}}</p>
} -->

<!-- <input #userBox type="text" placeholder="Search Users...">
<input #postBox type="text" placeholder="Search Posts...">

@for (item of users(); track $index) {
  <p>{{item}}</p>
}

@for (item of posts(); track $index) {
  <p>{{item}}</p>
} -->

<!-- @for (item of result(); track $index) {
  <p>{{item.user.name}}</p>
} -->




</router-outlet>