<!-- @for (prof of profiles(); track $index) {
  <div> -->
    <!-- <app-profile-card-component [name]="prof.name" [role]="prof.role" [experience]="prof.experience"/> -->

    <!-- using object directly, must use for loop -->
    <!-- <app-profile-card-component [prof]="prof"/>
  </div>
} -->
<!-- 
@for (product of products(); track $index) {
  <div>
    <app-product-card [title]="product.title" [category]="product.category" [price]="product.price" [inStock]="product.inStock"  [product]="product"/>
  </div>
} -->

<!-- <app-student [counter]="counter()" (decrease)="decrease()" (increase)="increase()" (reset)="reset()" ></app-student> -->

<!-- When passing parameters from a function in ts file, you can pass it via $event -->
<!-- <app-student [cart]="products()" (addToCart)="addToCart($event)" /> -->

<!-- <app-student [todos]="todoItems()"></app-student> -->

<!-- <app-student [cart]="cart()" (addToCart)="addToCart($event)"/> -->