<!-- <p>home works!</p>
<h1>SIMPLE NGRX COUNTER</h1>
<p>{{counter | async}}</p>

<a routerLink="/about">About</a>
<button (click)="onIncrement()">Increment</button>
<button (click)="onDecrement()">Decrement</button>
<button (click)="onReset()">Reset</button> -->

<!-- TODO -->

<!-- <input type="text" [(ngModel)]="newTodo">
<button (click)="onAddTodo()">Add Todo</button>

@for (item of todo | async; track $index) {
    <input type="checkbox" [checked]="item.completed" (change)="onToggle(item.id)">
    <span [ngClass]="{done:item.completed}"> {{item.title}}</span>
    <button (click)="onRemove(item.id)">Remove</button>
}

<div>
    <p>Completed: {{completed | async}}</p>
    <p>In Progress: {{inProgress | async}}</p>
    <p>Percentage: {{inProgress | async}}</p>
    <p>Total Todo: {{total | async}}</p>
</div> -->

<!-- ADD TODO USING API -->

<button (click)="load()">Load Todo</button>

@for (item of todos$ | async; track $index) {
    <ul>
        <li>{{item.userId}}</li>
        <li>{{item.id}}</li>
        <input #titleInput value="{{item.title}}">
        <input
      type="checkbox"
      [checked]="item.completed"
      (change)="toggleTodo(item)"
    />
        <button (click)="editTodoTitle(item, titleInput.value)">Edit</button>
        <button (click)="deleteTodo(item.id)">Delete</button>
    </ul>
}

<input type="text" [(ngModel)]="newTodo">
<button (click)="add()">Add Todo</button>

@if(todoLoading$ | async){
    <p>...Loading</p>
}

@if(todoSuccess | async){
    <p>{{todoSuccess | async}}</p>
}

<p>{{todoError | async}}</p>

<!-- <p>Completed: {{completed | async}}</p>
<p>In Progress: {{inProgress | async}}</p>
<p>Percentage: {{inProgress | async}}</p>
<p>Total Todo: {{total | async}}</p> -->

<a routerLink="/about">About</a>